{% extends 'base.html' %}

{% block body %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col">
                    <input type="text" placeholder="Nome" class="form-control" required name="nome">
                </div>
                <div class="form-group col">
                    <input type="text" placeholder="Sobrenome" class="form-control" required name="sobrenome">
                </div>
                <div class="form-group col">
                    <input type="date" placeholder="Nascimento" class="form-control" required name="nascimento">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <input type="text" placeholder="RG" class="form-control" required name="rg">
                </div>
                <div class="form-group col">
                    <input type="text" placeholder="CPF" class="form-control" required name="cpf">
                </div>
                <div class="form-group col">
                    <input type="text" placeholder="Telefone" class="form-control" required name="telefone">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <input type="text" placeholder="CNH" class="form-control"  name="cnh">
                </div>
                <div class="form-group col">
                    <select class="form-control" name="cnh_tipo">
                        <option value="">Tipo CNH</option>
                        <option value="Não Possui">Não Possui</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                    </select>
                </div>
                <div class="form-group col">
                    <select name="sexo" class="form-control">
                        <option value="">Sexo</option>
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}