{%extends 'base.html' %}
{% block body %}
<div class="card">
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="form-group col">
                    <input name="nomeFuncao" class="form-control" type="text" placeholder="Função" required>
                </div>
                <div class="form-group col">
                    <select name="departamento" class="form-control">
                        <option value="">Departamento</option>
                        {% for obj in object %}
                        <option value="{{obj}}">{{obj}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
    </form>
</div>

<table class="table table-striped ">
    <thead class="thead-dark">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Função</th>
          <th scope="col">Departamento</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for func in object2 %}
      <tr>
           <td>{{forloop.counter}}</td>
           <td>{{func.nomeFuncao}}</td>
           <td>{{func.departamento}}</td>
           <td>
               <a href="{% url 'funcaoDelete/' func.id %}"><button class="btn btn-danger"><i class="material-icons">delete_forever</i></button></a>
           </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}