{% extends 'base.html' %}

{% block body %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Você está certo em deletar a formação: {{object}}  do   colaborador:{{object.colaborador}}?</p>
        <input type="submit" value="Confirmar" class="btn btn-danger">
        <a href="{% url 'formaList/' %}" class="btn btn-primary">retornar <i class="material-icons">keyboard_return</i></a>
        </form>
    </div>
</div>
{% endblock %}