{% extends 'base.html' %}

{% block body %}
<table class="table table-striped ">
    <thead class="thead-dark">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Colaborador</th>
          <th scope="col">Tipo de Formação</th>
          <th scope="col">Nome do Curso</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for forma in object_list %}
      <tr>
           <td>{{forloop.counter}}</td>
           <td>{{forma.colaborador}}</td>
           <td>{{forma.tipo_formacao}}</td>
           <td>{{forma.nome_curso}}</td>
           <td>
               <a href="{%url 'formaDelete/' forma.pk %}"><button class="btn btn-danger"><i class="material-icons">delete_forever</i></button></a>
           </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}